html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gruppo", sans-serif;
  background-color: #dff8eb;
  margin: 0;
  padding: 20px 60px 20px 60px;
  font-weight: bold;
}

h1 {
  color: #826aed;
  padding-left: 45px;
  margin-top: 80px;
  margin-bottom: 15px;
}

.back-link {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 25px;
  background-color: #ffb7c3;
  color: #18020c;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 60px;
}

.back-link:hover {
  background-color: #f797a5;
  color: #ffffff;
}

.project-detail-container p {
  padding-left: 60px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.project-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  align-items: stretch;
}

.project-images img {
  width: 100%; /* Obrázek se přizpůsobí šířce své buňky v gridu */
  height: auto; /* Výška se dopočítá automaticky podle poměru stran */
  object-fit: cover;
  border-radius: 5px; /* zaoblené rohy obrázků */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* jemný stín */
}

