html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gruppo", sans-serif;
  background-color: #dff8eb;
  margin: 0;
  padding: 20px 60px 20px 60px;
}

h1 {
  color: #826aed;
  padding-left: 45px;
  margin-top: 80px;
  margin-bottom: 15px;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 20px 60px;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.8em;
  font-weight: normal;
  color: #18020c;
}

.logo-design {
  color: #826aed;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 30px;
}

.nav-link {
  font-size: 1.1em;
  color: #18020c;
  padding-bottom: 5px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
}

.nav-link:hover {
  color: #826aed;
  border-bottom-color: #826aed;
}


.back-link {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 25px;
  background-color: #ffb7c3;
  color: #18020c;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 60px;
}

.back-link:hover {
  background-color: #f797a5;
  color: #ffffff;
}

.project-detail-container p {
  padding-left: 60px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.project-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  align-items: stretch;
}

.project-images img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
